<tr><td colspan=999>
  <div class="d-flex">
    <div class="w-50 border p-4">
      <div class="mb-5"><b>A.</b> CERTIFIED <i>Services duly rendered as stated</i></div>
      <div class="d-flex justify-content-around">
        <div class="text-center">
          <div class="text-decoration-underline fw-bolder">
            BEATRICE D. MABITAD, Ed.D.
          </div>
          <i>Head, HRMDO</i>
        </div>
        <div class="text-center">
          <div>
            ____________________________
          </div>
          <i>DATE</i>
        </div>
      </div>
    </div>
    <div class="w-50 border p-4">
      <div class="d-flex justify-content-between mb-5">
        <div><b>B.</b> APPROVED FOR PAYMENT:</div>
        <div class="text-center">
          <div class="text-decoration-underline"><%= payroll.overall_total.to_f.humanize.upcase %></div>
          <div class="text-decoration-underline"><%= payroll.overall_total.format %></div>
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <div class="text-center">
          <div class="text-decoration-underline fw-bolder">
            JEFFRY V. OCAY,Ph.D.
          </div>
          <i>Campus Director, EVSU-OC</i>
        </div>
        <div class="text-center">
          <div>
            ____________________________
          </div>
          <i>DATE</i>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="w-50 border p-4">
      <div><b>C.</b> CERTIFIED <i>Supporting documents complete and proper;and cash available in the amount of</i></div>
      <div class="ms-5 mb-5 text-decoration-underline fw-bolder">Php<%= payroll.overall_total %></div>
      <div class="d-flex justify-content-around">
        <div class="text-center">
          <div class="text-decoration-underline fw-bolder">
            ANGELA M. COQUILLA, CPA
          </div>
          <i>Accountant Designate</i>
        </div>
        <div class="text-center">
          <div>
            ____________________________
          </div>
          <i>DATE</i>
        </div>
      </div>
    </div>
    <div class="w-50 border p-4 pe-0 pb-0">
      <div class="mb-5"><b>A.</b> CERTIFIED <i>Each employee whose name appears on the payroll has been paid the amount as indicated opposite his/her name</i></div>
      <div class="d-flex justify-content-between">
        <div class="d-flex w-75 justify-content-between">
          <div class="text-center">
            <div class="text-decoration-underline fw-bolder">
              SARA JANE C. ENDRIANO 
            </div>
            <i>Cashier / Disbursing Officer</i>
          </div>
          <div class="text-center">
            <div>
              ____________________________
            </div>
            <i>DATE</i>
          </div>
        </div>
        <div class="text-start w-25 border p-1 ms-5">
          <div>ORS/BURS No:</div>
          <div>Date:</div>
          <div>JEV No:</div>
          <div>Date:</div>
        </div>
      </div>
    </div>
  </div>
</td>
</tr>